@model RecruitmentSystem.Models.Agency
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<h4>Hi! @Model.UserName</h4>
@Html.ActionLink("LogOut", "Logout", "Agency")

<ul>
    <li>
        @Html.ActionLink("Add Vacancy", "AddVacancy", "Vacancy")
    </li>
</ul>
