@model RecruitmentSystem.Models.Agency
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<h4>Hi! @Model.UserName</h4>
@Html.ActionLink("LogOut", "Logout", "Agency")

<ul>
    <li>    @Html.ActionLink("Vacancy Details", "ShowAllVacancy", "Vacancy")      </li>
    <li>    @Html.ActionLink("Applicant List", "ShowAllApplicant", "Agency")  </li>
</ul>
